In [49]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [50]:
!ls

clean_meas.csv
clean_measurements.csv
clean_station.csv
clean_stations.csv
climate_analysis.ipynb
data_engineering.ipynb
database_engineering.ipynb
hawaii.sqlite
images
merged_hawaii.csv
README.md
Resources
sqlalchemy

In [51]:
engine = create_engine('sqlite:///hawaii.sqlite')

In [52]:
Base = automap_base()

In [53]:
Base.prepare(engine, reflect = True)

In [54]:
Base.classes.keys()

['measurement', 'station']

In [55]:
Measurement = Base.classes.measurement
Station = Base.classes.station

In [56]:
session = Session(engine)

In [57]:
first_row = session.query(Station).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1d23477d7f0>,
 'elevation': 3.0,
 'id': 0,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}

In [58]:
first_row = session.query(Measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1d234783278>,
 'date': '2010-01-01',
 'id': 0,
 'prcp': 0.08,
 'station': 'USC00519397',
 'tobs': 65.0}

In [59]:
import pandas as pd

In [65]:
dates = session.query(Measurement.date, Measurement.prcp).order_by(Measurement.date.desc()).limit(1050).all()
pd.DataFrame(dates)

            date  prcp
0     2017-08-23  0.08
1     2017-08-23  0.45
2     2017-08-22  0.50
3     2017-08-21  0.02
4     2017-08-21  0.56
5     2017-08-20  0.01
6     2017-08-19  0.09
7     2017-08-18  0.06
8     2017-08-17  0.05
9     2017-08-17  0.01
10    2017-08-17  0.13
11    2017-08-16  0.07
12    2017-08-16  0.12
13    2017-08-16  0.42
14    2017-08-15  0.02
15    2017-08-15  0.06
16    2017-08-15  0.32
17    2017-08-15  0.42
18    2017-08-14  0.01
19    2017-08-14  0.08
20    2017-08-14  0.22
21    2017-08-12  0.14
22    2017-08-10  0.07
23    2017-08-09  0.15
24    2017-08-08  0.10
25    2017-08-08  0.34
26    2017-08-07  0.05
27    2017-08-05  0.06
28    2017-08-04  0.02
29    2017-08-04  0.04
...          ...   ...
1020  2016-09-19  0.01
1021  2016-09-19  0.25
1022  2016-09-18  0.04
1023  2016-09-18  0.07
1024  2016-09-18  0.42
1025  2016-09-17  0.05
1026  2016-09-17  0.04
1027  2016-09-17  0.36
1028  2016-09-17  0.23
1029  2016-09-16  0.06
1030  2016-09-16  0.01
1031  2016-09-16  0.07
1032  2016-09-16  0.01
1033  2016-09-16  0.06
1034  2016-09-16  0.61
1035  2016-09-15  0.42
1036  2016-09-15  0.12
1037  2016-09-15  0.07
1038  2016-09-15  0.17
1039  2016-09-15  0.83
1040  2016-09-15  3.35
1041  2016-09-14  1.32
1042  2016-09-14  0.90
1043  2016-09-14  1.84
1044  2016-09-14  1.19
1045  2016-09-14  2.33
1046  2016-09-14  6.70
1047  2016-09-13  0.02
1048  2016-09-13  0.37
1049  2016-09-13  0.32

[1050 rows x 2 columns]

In [61]:
session.query(ObjectRes).order_by(ObjectRes.id.desc()).first()

NameError: name 'ObjectRes' is not defined

In [ ]:
'''
# Write a function called `calc_temps` that will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()
print(calc_temps('2012-02-28', '2012-03-05'))

'''