In [1]:
!ls Resources

hawaii_measurements.csv
hawaii_stations.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
data_meas = pd.read_csv('./Resources/hawaii_measurements.csv')
data_meas_clean = data_meas.dropna(axis=1, how='any')
len(data_meas_clean)

19550

In [4]:
data_meas_clean.to_csv('clean_meas.csv')

In [5]:
data_station = pd.read_csv('./Resources/hawaii_stations.csv')
data_station.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
data_station.to_csv('clean_stations.csv')

In [7]:
merged_data = pd.merge(data_meas_clean, data_station, on = 'station')
merged_data.head()

,station,date,tobs,name,latitude,longitude,elevation
0,USC00519397,2010-01-01,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00519397,2010-01-02,63,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,USC00519397,2010-01-03,74,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,USC00519397,2010-01-04,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,USC00519397,2010-01-06,73,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0

In [8]:
merged_data.to_csv('merged_hawaii.csv')